BOT_TOKEN=123456:replace_me
DATABASE_URL=postgresql://birthday_bot:birthday_bot@postgres:5432/birthday_bot
# BIRTHDAYS_FILE=/app/Копия  ДР Банк v2 (002).xlsx
TIMEZONE=Europe/Moscow
INITIAL_WHITELIST_USER_IDS=123456789
POSTGRES_DB=birthday_bot
POSTGRES_USER=birthday_bot
POSTGRES_PASSWORD=birthday_bot
